[Desktop Entry]
Version=1.0
Type=Link
Name=PIC project, using cheap RF modules!
Comment=
Icon=gnome-fs-bookmark
URL=http://www.romanblack.com/RF/cheapRFmodules.htm
